NEXT_PUBLIC_SUPABASE_URL=https://supabasekong-xrdm99qdk0ya5oqyw45gb00k.letslink.ch
NEXT_PUBLIC_SUPABASE_ANON_KEY=

NEXT_PUBLIC_APP_URL=https://go.letslink.ch

# Secret partagé avec letslink-promo pour POST /api/revalidate
BLOG_REVALIDATE_SECRET=
